{% extends 'index.html' %}


{% block content %}
<div class="center">
  <center>
    <p></p>
    <h1>¿Estás seguro que quieres borrar el objeto?</h1>
    <p></p>
    <a class="btn btn-danger" href="{% url 'eliminarNombres' id_nombre %}">Eliminar</a>
    <a class="btn btn-success" href="{% url 'listarNombres' %}">Volver</a>
  </center>

</div>

{% endblock %}