<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>API</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
  <!-- Grey with black text -->
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href=" {% url 'home'%} ">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=" {% url 'registrarNombre'%} ">Registrar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=" {% url 'listarNombres'%} ">Listar</a>
      </li>
    </ul>
  </nav>


  <div class="content container">
    {% block content %}

    {% endblock %}
  </div>

</body>

</html>