{% extends 'index.html' %}

{% block content %}

<div class="jumbotron text-center">
  <h1>Buscador CP</h1>
  <p>Encuentra el nombre de la ciudad mediante el código postal</p>
  <footer>Eneko Intxausti</footer>
</div>
<div class="text-center">
  <p></p>
  <a class="btn btn-success col-md-3" href=" {% url 'registrarNombre'%} ">Registrar</a>
</div>



{% endblock %}