{% extends 'index.html' %}

{% block content %}
<p></p>
<h1>Listado de Nombres</h1>
<p></p>
<div class="row col-12 justify-content-end mb-2 pr-0">
  <!--<button type="button" class="btn btn-success col-md-3">Agregar Nuevo</button>-->
  <a class="btn btn-success col-md-3" href="{% url 'registrarNombre' %}">Agregar Nuevo</a>
</div>
<p></p>
{% if mensaje %}
<div class="alert alert-success" role="alert">
  El nombre se ha borrado correctamente.
</div>
{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Codigo Postal</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Eliminar</th>

    </tr>
  </thead>
  <tbody>
    {% for obs in formulario %}
    <tr>
      <th scope="row">{{ obs.id }}</th>
      <td>{{ obs.nombre }}</td>
      <td>{{ obs.cp }}</td>
      <td>{{ obs.ciudad }}</td>
      <td><a class="btn btn-danger" href="{% url 'confirmar_eliminacion' obs.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}