{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  <strong>Ha cometido un error al introducir los campos
</div>
{%endif%}

<h1> Registro de Nombres</h1>

<form action="{% url 'elegirvista' %}" method="POST">
  {% csrf_token %}
  {% if mensaje %}
  <div class="alert alert-success" role="alert">
    El nombre se ha guardado correctamente.
  </div>
  {% endif %}
  {%if cpincorrect %}
  <div class="alert alert-danger" role="alert">
    El Codigo postal no existe
  </div>
  {% endif %}


  {{ form|crispy }}

  <button type="submit" class="btn btn-primary" name="Guardar">Guardar</button>
  <button type="submit" class="btn btn-info" name="JSON">Recibir JSON</button>
  <a class="btn btn-warning" href="{% url 'listarNombres'%}">Cancelar</a>




</form>

{% endblock %}